*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-flex{
    display: flex;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/image/beach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content{
    border: transparent;
    width: 88%;
    box-shadow: inset 0 0 10px #000000;
    height: 80vh;
    margin: 6rem 8rem;
    background-image: url(/image/beach.jpg);
    border-radius: 20px;
    color: goldenrod;
    text-shadow: 3px 2px 2px black;
}
.akan{
    margin: 10px 20px 10px 20rem;
    padding: 3rem 0px 0px 0px;
}
.akan, h1{
    font-size: 70px;
    font-weight: 900;
    color: ivory;
    text-shadow: 3px 2px 2px black;
}
.name-1{
    color: goldenrod;
}
.para-1{
    font-size: 20px;
    color: goldenrod;
    text-shadow: 3px 2px 2px black;
}