*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-flex{
    display: flex;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/image/9l8mSN.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content{
    border: transparent;
    width: 88%;
    box-shadow: inset 0 0 10px #000000;
    height: 80vh;
    margin: 6rem 8rem;
    background-image: url(/image/9l8mSN.jpg);
    border-radius: 20px;
    color: goldenrod;
    text-shadow: 3px 2px 2px black;
}
.first-cont{
    width: 40%;
    height: 80vh;
}
.akan{    
    position: relative;
    top: 0rem;
    left: 0rem;
}
.akan, h1{
    font-size: 80px;
    font-weight: 900;
    color: ivory;
    text-shadow: 3px 2px 2px black;
}
.name-1{
    color: goldenrod;
}
.para-1{
    font-size: 20px;
    color: goldenrod;
    text-shadow: 3px 2px 2px black;
}
.web{
    position: relative;
    top: 18rem;
    left: 10px;
    font-size: 30px;

}
.main-1{
    width: 60%;
    height: 80vh;
    margin-left: 5px;
}
.name-cont{
    width: 47%;
    height: 34vh;
    border: 5px solid;
    padding-left: 2rem;
    margin-top: 25rem;
}
.female-cont, h2{
    position: relative;
    top: 50rem;
}
.pop{
    border: transparent;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgb(75, 75, 74);
    width: 50%;
    height: 50vh;
    position: relative;
    top: -36rem;
    left: 30rem;
}